<h1>Editing referral</h1>

<% form_for(@referral) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @referral %> |
<%= link_to 'Back', referrals_path %>